.weather-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header h1 {
      font-weight: 700;
    }

  .header svg {
    margin-top: 15px;
  }
 

    .mb-4 {
      margin-bottom: 1.5rem;
    }
  
    .loading {
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      width: 70%;
 
    }
  
    .error {
      font-size: 1.2rem;
      color: #f44336;
    }
  
    .d-flex {
      justify-content: center;
      text-align: center;
    }
  
    .search-tools {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px; 
      width: 70%;
    }
  
    .search-bar-container {
      width: 50%;
      max-width: 400px;
    }

    .most-searched-names {
      font-weight: 600;
      font-size: 25px;
      padding-bottom: 10px;
    }

    .most-searched-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .most-searched-button {
      font-weight: 600;
      font-size: 17px;
      width: 200px;
    }

}