.weather-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .mb-4 {
      margin-bottom: 1.5rem;
    }
  
    .loading {
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      width: 70%;
 
    }
  
    .error {
      font-size: 1.2rem;
      color: #f44336;
    }
  
    .d-flex {
      justify-content: center;
      text-align: center;
    }
  
    .search-tools {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px; 
      width: 70%;
    }
  
    .search-bar-container {
      width: 50%;
      max-width: 400px;
    }

}