.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


    .date-weekday {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .weekday {
        font-weight: 800;
        text-align: left;
    }

    .date {
        text-align: left;
    }

    .temperature {
        font-size: 35px;
    }

    .animation {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .condition-code {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }

    .wind-humidity {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1rem;
        gap: 10px;
    }

    .wind, .humidity {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        font-weight: 600;
    }
}

