{
    "plugins": ["jest"],
    "extends": ["plugin:jest/recommended"],
    "env": {
      "jest": true,
      "node": true,
      "browser": true
    },
    "overrides": [
        {
          "files": ["**/*.test.js", "**/*.spec.js"],
          "env": {
            "jest": true
          }
        }
      ]
}