.search-bar-tool {
    gap: 15px;
    width: 100%;
}

.search-bar-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 30px;

    .search-bar {
        border-radius: 30px;
    }
}



